@font-face {
font-family: 'univers';
src: url('static/font-univers/UniversforUniS55Rm-Regular.ttf')  format('truetype');

}
body {
  margin: 0;
  padding: 0;
  font-family: "univers";
  color:#323232
}

.top-nav {
  padding: 15px 20px;
  background-color: #323232;
  color: white;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.navbar p {
  font-weight: bold;
  font-size: 20px;
}

.navbar img {
  height: 60px;
  display: inline-block;
}
.contact {
  text-decoration: none;
  color: white;
}

.side-bar {
  width: 280px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.side-bar ul {
  list-style-type: none;
}

.side-bar li {
  display: block;
  color: #323232;
  text-decoration: none;
  text-size: 16;
}
.side-bar li a {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding:17px 30px;
  text-decoration: none;
  color: black
  
}



#fsfw-click
#sat-click {
  background-color: #555;
  color: white;
}

.side-bar li a:hover {
  background-color: #606060;
  color: white;

}

.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
 
}

.logo {
  margin-top:60px;
  margin-bottom: 60px;
  width : auto
}

.fsfw-desc {
  margin-top:60px;
  text-align: justify;
}

.sat-rs-desc {
  margin-top: 40px;
  text-align: justify;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 170px;
  padding-left: 170px;
    //transform: translateY(50px);
}

#fsfw-content img {
  width: 50%;
  object-fit: contain;

  height: auto;
}

.content img {
  width: 40%;
  object-fit: contain;
  height: auto;
}

#fsfw-links,
#sat-rs-links {
  display: flex;
  align-items: center;
}

.develop a,
.master a,
.sat-doc a,
.repo-container a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background-color: #004191
}

.img-container {

  width: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.develop li,
.master li,
.sat-doc li {
  list-style: none;
  margin: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 60px;
  transition: color 0.3s;
}

.links h1 {
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.repo-container p {
  //border: 2px solid #000;
  margin: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 60px;
  transition: color 0.3s;
}

.develop ul,
.links ul,
.sat-doc ul,
.repo-container p {
  padding-left: 0;
}

.develop li a:hover,
.master li a:hover,
.links li a:hover,
.repo-container p a:hover {
  background-color: #323232;
  color: white;
}

.develop li {
  margin-right: 60px;
}

#sat-rs-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 170px;
  padding-left: 170px;
}

.footer {
  background-color: #323232;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  
}

.footer li {
  font-size: 14px;
  margin: 0;
  display: flex;
  text-align: center;
}

.footer ul li:not(:last-child) {
  margin-right: 150px;
}

.footer a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.3s ease-in-out;
}
