@font-face {
  font-family: "univers";
  src: url("static/font-univers/UniversforUniS55Rm-Regular.ttf")
    format("truetype");
}

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Rubik:wght@300&display=swap"); */

body {
  margin: 0;
  padding: 0;
  font-family: "univers";
  color: #323232;
  font-size: 24px;
}

.top-nav {
  padding: 15px 20px;
  background-color: #323232;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 24px;
}
.navbar p {
  font-weight: bold;
}

.navbar img {
  height: 60px;
  display: inline-block;
}
.contact {
  text-decoration: none;
  color: white;
}

.side-bar {
  width: 280px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.side-bar ul {
  list-style-type: none;
}

.side-bar li {
  display: block;
  color: #323232;
  text-decoration: none;
  text-size: 16;
}
.side-bar li a {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 17px 30px;
  text-decoration: none;
  color: black;
}

#fsfw-click #sat-click {
  background-color: #555;
  color: white;
}

.side-bar li a:hover {
  background-color: #606060;
  color: white;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.logo-fsfw {
  width: 60%;
  object-fit: contain;
  height: auto;
}

.logo-sat-rs {
  width: 40%;
  object-fit: contain;
  height: auto;
}
.fsfw-desc {
  margin-top: 60px;
  text-align: justify;
}

.sat-rs-desc {
  margin-top: 40px;
  text-align: justify;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 170px;
  padding-left: 170px;
  padding-top: 20px;
  //transform: translateY(50px);
}

#fsfw-links,
#sat-rs-links {
  display: flex;
  align-items: center;
}

.left-box a,
.right-box a,
.sat-doc a,
.single-box a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background-color: #004191;
  font-size: 18px;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-box li,
.right-box li,
.sat-doc li {
  list-style: none;
  margin: 20px;
  padding: 0;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 70px;
  transition: color 0.3s;
}

.links h1 {
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.single-box p {
  //border: 2px solid #000;
  margin: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 70px;
  transition: color 0.3s;
}

.left-box ul,
.links ul,
.sat-doc ul,
.single-box p {
  padding-left: 0;
}

.left-box li a:hover,
.right-box li a:hover,
.links li a:hover,
.single-box p a:hover {
  background-color: #323232;
  color: white;
}

.left-box li {
  margin-right: 60px;
}

#sat-rs-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 170px;
  padding-left: 170px;
  padding-bottom: 120px;
  padding-top: 40px;
}

.footer {
  background-color: #323232;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer li {
  font-size: 14px;
  margin: 0;
  display: flex;
  text-align: center;
}

.footer ul li:not(:last-child) {
  margin-right: 150px;
}

.footer a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.3s ease-in-out;
}
