body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.top-nav {
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.navbar p {
  font-weight: bold;
  font-size: 20px;
}

.navbar img {
  height: 60px;
  display: inline-block;
}
.contact {
  text-decoration: none;
  color: white;
}

.side-bar {
  width: 280px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.side-bar ul {
  list-style-type: none;
}

.side-bar li {
  display: block;
  color: #000;
  padding: 17px 30px;
  text-decoration: none;
  text-size: 16;
}

#fsfw-click {
  background-color: #f1f1f1;
  color: white;
}

#sat-click {
    background-color: #555;
    color: white;
  }
  

.side-bar li:hover {
  background-color: #555;
  color: white;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fsfw-desc {
  margin-top: 60px;
  text-align: justify;
}

.sat-rs-desc {
  margin-top: 40px;
  text-align: justify;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 170px;
  padding-left: 170px;
  transform: translateY(50px);
}

#fsfw-content img {
  width: 100%;
  object-fit: contain;

  height: auto;
}

.content img {
  width: 30%;
  object-fit: contain;
  height: auto;
}

#fsfw-links,
#sat-rs-links {
  display: flex;
  align-items: center;
}

.develop a,
.master a,
.sat-doc a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.develop li,
.master li,
.sat-doc li {
  list-style: none;
  border: 2px solid #000;
  margin: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 60px;
  transition: color 0.3s;
}

.links h1 {
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.repo-container a {
  border: 2px solid #000;
  margin: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 60px;
  transition: color 0.3s;
}

.develop ul,
.links ul,
.sat-doc ul {
  padding-left: 0;
}


.develop li a:hover,
.master li a:hover,
.links li a:hover,
.repo-container a:hover {
  background-color: black;
  color: white;
}

.develop li {
  margin-right: 60px;
}

#sat-rs-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 170px;
  padding-left: 170px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer li {
  font-size: 14px;
  margin: 0;
  display: flex;
  text-align: center;
}

.footer ul li:not(:last-child) {
  margin-right: 150px;
}

.footer a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 0.3s ease-in-out;
}
